:root {
  --primary: #b6895b;
  --bg: #340e94;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

body.dark {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}

body.dark .navbar {
  background-color: rgba(251, 246, 246, 0.8);
  border-bottom: 1px solid #3f33c7;
}

body.dark .navbar .navbar-logo {
  color: #000;
}

body.dark .navbar .navbar-nav a {
  color: #000;
}

body.dark .navbar .navbar-extra a {
  color: #000;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(33, 17, 123, 0.8);
  border-bottom: 1px solid #625c55;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-weight: bold;
  margin-left: 0.2rem;
}

.navbar .navbar-nav a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 1rem;
  text-decoration: none;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: transform 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#bag-produk {
  display: none;
}

/* CSS untuk mengatur teks ke tengah di dalam .content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(headerbg1-o7rtmt-7j-transformed.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(54, 54, 220) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

body.dark .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(1, 1, 3) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(1, 1, 3) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

.hero-text {
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 246, 0.5);
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.hero-text span {
  color: var(--primary);
}

.content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 1rem;
}

.cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(45, 45, 198, 0.5);
  text-decoration: none; /* Untuk menghilangkan garis bawah tautan */
}

/* about section */
.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
}

.about h2 span {
  color: var(--primary);
}

/* CSS untuk mengatur tampilan gambar dan teks di sampingnya */
.about .row {
  display: flex;
  align-items: center;
}

.about-img {
  flex: 1;
  text-align: center;
}

.about-img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.content {
  flex: 2;
  padding-left: 2rem; /* Sesuaikan jarak antara gambar dan teks sesuai kebutuhan */
}

.content h3,
.content p {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.about .info {
  display: flex;
  flex-direction: column;
}

.about .info h3,
.about .info p {
  margin-bottom: 1rem;
  text-align: left;
}

footer p {
  padding: 9px;
  color: white;
  text-align: center;
}

/* CSS untuk tombol Dark Mode */
#dark-mode-button {
  background-color: #333;
  color: #f4f1f1;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

body.dark #dark-mode-button {
  background-color: #f4efef;
  color: #101110;
}
/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
}

/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
